<!DOCTYPE html>
<html>
  <head>
    <title>Luke Stoss Photos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Luke Stoss Photos</title>

    <!-- Header Start -->
    <header>
      <div class="container">
        <div class="row">
          <div id="brand-name">
            <a href="/"><h1>Luke Stoss Photos</h1></a>
          </div>
          <!--
          <div id="header_image">
            <%= image_tag "/assets/header.jpeg" %>
          </div>
          -->
          <nav class="nav">
            <ul>
              <li><a href="about">About</a></li>
              <li><a href="work">Work</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
